:root {
    /* Цвета */
    --color-primary: #624b99; /* purple-700 */
    --color-primary-dark: #4a3191; /* purple-800 */
    --color-primary-darker: #281468; /* purple-900 */
    --color-secondary: #F6AD55; /* orange-400 */
    --color-secondary-dark: #753f00; /* orange-500 */
    
    /* Размеры */
    --header-height: 4rem;
    --container-padding: 1rem;
    
    /* Анимации */
    --transition-base: all 0.3s ease;
    --transition-slow: all 0.5s ease;
    
    /* Тени */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    
    /* Скругления */
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-full: 9999px;
}

